<br>
<br>
<br>
<ion-segment>
  <ion-segment-button value="registrar" content-id="registrar">
    <ion-label>Registrar</ion-label>
  </ion-segment-button>
  <ion-segment-button value="editar" content-id="editar">
    <ion-label>Editar</ion-label>
  </ion-segment-button>
    <ion-segment-button value="listar" content-id="listar">
    <ion-label>Lista</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-segment-view>

<!-- REGISTRAR -->
<ion-segment-content id="registrar">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Registrar Producto</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <!-- otros campos -->
        <ion-item><ion-label position="floating">Nombre</ion-label><ion-input [(ngModel)]="nuevoProducto.nombre"></ion-input></ion-item>
        <ion-item><ion-label position="floating">Descripción</ion-label><ion-textarea [(ngModel)]="nuevoProducto.descripcion"></ion-textarea></ion-item>
        <ion-item><ion-label position="floating">Marca</ion-label><ion-input [(ngModel)]="nuevoProducto.marca"></ion-input></ion-item>
        <ion-item><ion-label position="floating">Modelo</ion-label><ion-input [(ngModel)]="nuevoProducto.modelo"></ion-input></ion-item>
        <ion-item><ion-label position="floating">Voltaje</ion-label><ion-input [(ngModel)]="nuevoProducto.voltaje"></ion-input></ion-item>
        <ion-item><ion-label position="floating">Potencia</ion-label><ion-input [(ngModel)]="nuevoProducto.potencia"></ion-input></ion-item>
        <ion-item><ion-label position="floating">Corriente</ion-label><ion-input [(ngModel)]="nuevoProducto.corriente"></ion-input></ion-item>
        <ion-item><ion-label position="floating">Precio</ion-label><ion-input type="number" [(ngModel)]="nuevoProducto.precio"></ion-input></ion-item>

        <!-- Selector proveedor -->
        <ion-item>
          <ion-label>Proveedor</ion-label>
          <ion-select [(ngModel)]="nuevoProducto.proveedor_id">
            <ion-select-option *ngFor="let proveedor of proveedores" [value]="proveedor.id">
              {{ proveedor.nombre }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item><ion-label>Imagen</ion-label><input type="file" (change)="onFileSelected($event)" accept="image/*" /></ion-item>
      </ion-list>

      <ion-row class="ion-justify-content-center ion-padding" *ngIf="nuevoProducto.imagen_base64">
        <ion-img [src]="nuevoProducto.imagen_base64" style="max-width: 200px;"></ion-img>
      </ion-row>

      <ion-button expand="block" color="primary" (click)="registrarProducto()">
        Guardar Producto
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-segment-content>

<!-- EDITAR -->
<ion-segment-content id="editar">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Editar Producto</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>Seleccionar producto</ion-label>
        <ion-select [(ngModel)]="productoSeleccionadoId" (ionChange)="cargarProductoSeleccionado()">
          <ion-select-option *ngFor="let producto of productos" [value]="producto.id">
            {{ producto.nombre }} ({{ producto.marca }} - {{ producto.modelo }})
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ng-container *ngIf="productoEditable">
        <ion-list>
          <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input [(ngModel)]="productoEditable.nombre"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Descripción</ion-label>
            <ion-textarea [(ngModel)]="productoEditable.descripcion"></ion-textarea>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Marca</ion-label>
            <ion-input [(ngModel)]="productoEditable.marca"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Modelo</ion-label>
            <ion-input [(ngModel)]="productoEditable.modelo"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Voltaje</ion-label>
            <ion-input [(ngModel)]="productoEditable.voltaje"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Potencia</ion-label>
            <ion-input [(ngModel)]="productoEditable.potencia"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Corriente</ion-label>
            <ion-input [(ngModel)]="productoEditable.corriente"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Precio</ion-label>
            <ion-input type="number" [(ngModel)]="productoEditable.precio"></ion-input>
          </ion-item>

          <!-- Selector proveedor -->
          <ion-item>
            <ion-label>Proveedor</ion-label>
            <ion-select [(ngModel)]="productoEditable.proveedor_id">
              <ion-select-option *ngFor="let proveedor of proveedores" [value]="proveedor.id">
                {{ proveedor.nombre }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>Imagen</ion-label>
            <input type="file" (change)="onFileSelectedEditar($event)" accept="image/*" />
          </ion-item>
        </ion-list>

        <ion-row class="ion-justify-content-center ion-padding" *ngIf="productoEditable.imagen_base64">
          <ion-img [src]="productoEditable.imagen_base64" style="max-width: 200px;"></ion-img>
        </ion-row>

        <ion-button expand="block" color="success" (click)="guardarEdicion()">
          Guardar Cambios
        </ion-button>

        <ion-button expand="block" color="danger" (click)="eliminarProducto(productoEditable.id)">
          Eliminar Producto
        </ion-button>
      </ng-container>
    </ion-card-content>
  </ion-card>
</ion-segment-content>

<ion-segment-content id="listar">
  <ion-card *ngFor="let producto of productos">
    <ion-card-content>
      <!-- Imagen centrada -->
      <ion-row class="ion-justify-content-center ion-margin-top">
        <ion-img [src]="producto.imagen_base64" style="max-width: 200px;" *ngIf="producto.imagen_base64"></ion-img>
      </ion-row>

      <ion-card-header class="ion-text-center">
        <ion-card-title>{{ producto.nombre }}</ion-card-title>
        <ion-card-subtitle>{{ producto.marca }} - {{ producto.modelo }}</ion-card-subtitle>
      </ion-card-header>

      <p class="ion-padding-start ion-padding-end">
        <strong>Descripción:</strong><br />
        {{ producto.descripcion }}
      </p>

      <ion-grid>
        <ion-row>
          <ion-col size="6"><strong>Voltaje:</strong> {{ producto.voltaje }}</ion-col>
          <ion-col size="6"><strong>Potencia:</strong> {{ producto.potencia }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6"><strong>Corriente:</strong> {{ producto.corriente }}</ion-col>
          <ion-col size="6"><strong>Precio:</strong> ${{ producto.precio }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12"><strong>Proveedor:</strong> {{ obtenerNombreProveedor(producto.proveedor_id) }}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-segment-content>


</ion-segment-view>
